<br>
<div class="pure-g" id="confirmation_container">

	<div class="pure-u-1">
		<p class="confirmation-text">Party Time!</p>
		<p class="confirmation-text">You're on your way to becoming a DIP member...</p>
		<p class="confirmation-text" style="margin-top:70px">There are currently:</p>
		<h1 id="waitlist-count"><%= @member.count %></h1>
		<p class="confirmation-text" style="margin-bottom:60px">people ahead of you on the waitlist.</p>
		<p class="confirmation-text">Get your bathing suit ready...we'll reach out soon!</p>

	</div>

</div>


<!-- <div id="sign-up-container" class="center">
	<p>You're on your way to becoming a dip member!</p>
	<p>There are currently</p>
	<h2 id="waitlist-count"><%= @member.count %></h2>
	<p>people ahead of you on the waitlist.</p>
	<p>Get your bathing suit ready! We'll reach out to you soon.</p>
</div>



 -->