<div id="sign-up-container" class="center">
	<p>You're on your way to becoming a dip member!</p>
	<p>There are currently:</p>
	<h2 id="waitlist-count"><%= @member.count %></h2>
	<p>people ahead of you on the waitlist.</p>
	<p>Get your bathing suit ready! We'll reach out to you soon.</p>
</div>



