<br>
<div class="pure-g" id="confirmation_container">

	<div class="pure-u-1">
		<p class="contact-text">DIP was founded in Los Angeles, CA and that is where we call home.</p>
		<br>
		<br>
		<br>
		<p class="contact-text">If you want to get in touch, leave us your information below and we'll get back to you as soon as we can! </p>
	</div>

</div>
