<div style="color:white;">
	<h1>about page</h1>
	<div style="text-align: center; position:absolute; bottom: 0px; width: 100%">
		<nav style="">
			<a style="font-size:24px; padding-right: 15px; padding-left: 15px" href="">Home</a>
			<a style="font-size:24px; padding-right: 15px; padding-left: 15px" href="">About</a>
			<a style="font-size:24px; padding-right: 15px; padding-left: 15px" href="">Contact</a>
		</nav>
		<span>–––––––––––––––</span>
		<span>FB</span>
		<span>TW</span>
		<span>IG</span>
		<span>GP</span>
		<span>–––––––––––––––</span>
		<div style="margin-top: 70px">
			<p style="color: white; font-size: 9px;">Poolside, Inc., 13515 Bayliss Rd, Los Angeles, CA 90049 United States</p>				
		</div>
	</div>
</div>