<div class="pure-g about" id="body_container">
	<div class="pure-u-1-2 about">
		<p class="about" id="body_text">Dip transforms pools from practical amenities into destinations in their own right. Using the power of mobile technology and relationships with hoteliers, Dip creates an entirely new experience for locals and travelers.

		Los Angeles locals by nature, we set out to make poolside experiences better and more accessible. Los Angeles is a perfect fit for us, but we plan to take Dip everywhere, and assist the pool scene worldwide.</p>		
	</div>
	<div class="pure-u-1-2 about">
		<p id="body_image">Image here</p>		
	</div>
</div>

<div style="position:fixed; bottom: 0%; width: 100%; background-color:#424242; height: 23%;"></div>

<div class="pure-g" style="text-align: center; position:fixed; bottom: 16%; width: 100%;padding-top: 15px">
	<div class="pure-u-1 pure-menu pure-menu-horizontal">
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a style="font-size:20px; font-family: Avenir Next" href="">Home</a></li>
			<li class="pure-menu-item pure-menu-selected" style="padding-right: 70px; padding-left: 70px;"><a style="font-size:20px; font-family: Avenir Next" href="">About</a></li>
			<li class="pure-menu-item"><a style="font-size:20px; font-family: Avenir Next" href="">Contact</a></li>
		</ul>
	</div>
</div>	

<div class="pure-g" style="text-align: center; position:fixed; bottom: 8%; width: 100%; padding-top: 15px">
	<div class="pure-u-1 pure-menu pure-menu-horizontal">
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a style="font-size:20px; font-family: Avenir Next" href="">FB</a></li>
			<li class="pure-menu-item pure-menu-selected"><a style="font-size:20px; font-family: Avenir Next" href="">TW</a></li>
			<li class="pure-menu-item"><a style="font-size:20px; font-family: Avenir Next" href="">IG</a></li>
			<li class="pure-menu-item"><a style="font-size:20px; font-family: Avenir Next" href="">G+</a></li>
		</ul>
	</div>
</div>	

<div class="pure-g" style="text-align: center; position:fixed; bottom: 1%; width: 100%; padding-top: 15px">
	<div class="pure-u-1"><p style="color: white; font-size: 10px; font-family: Avenir Next">Poolside, Inc., 13515 Bayliss Rd, Los Angeles, CA 90049 United States</p></div>
</div>