/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 **/

@import "font-awesome-sprockets";
@import "font-awesome";

body {
	background: #00BCD4;
	margin: 0px;
}

h1 {
	font-family: "Avenir Next";
	color: white;
	top: 185px;
	font-weight: 100;
	text-align: center;
	width: 100%;
	font-size: 43px;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
}

label {
	font-family: Avenir Next;
}

.body-text {
	color:white;
	font-family: Avenir Next;
	padding-top:6%;
	padding-left:14%;
	padding-right:14%;
	font-size: 24px;
	font-size: 1.1rem;
}

.confirmation-text {
	font-family: "Avenir Next";
	color: white;
	top: 185px;
	font-weight: 100;
	text-align: center;
	width: 100%;
	font-size: 33px;
	margin-bottom: -36px;
}

.contact-text {
	font-family: "Avenir Next";
	color: white;
	top: 185px;
	font-weight: 100;
	text-align: center;
	width: 100%;
	font-size: 23px;
	margin-bottom: -36px;
}

p {
	font-family: "Aquatico";
	color: black;
	font-weight: 100;
	font-size: 18px;
}

img {
	width: 100%;
	height: 100%
}

span {
	margin-right:50px;
	margin-left: 50px;
	top: 30px;
	position:relative;
}

a {
	text-decoration: none;
	color: white;
}

#main-container {
  background: black;
  height: 800px;
  width: 100%;
  position: static;
}

#confirmation_container {
	 margin-top: 10px;
}
/*
#home-logo {
	width: 
}*/

.icon {
  width: 130px;
  height: 140px;
  top: 100px;
  margin-bottom: 5px
}

.background {
  height: 100%;
  width: 100%;
}

.center {
	border-radius: 1em;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%)
}

#waitlist-count {
	font-size: 70px;
	margin-top: 50px;
	margin-bottom: -23px;
}

#home-container {
	background: white;
	opacity: 0.8;
	text-align: center;
	width: 750px;
	height: 380px;
	top: 505px;
	padding: 5px;
	padding-bottom: 15px;
	border-radius: 5px;
}

#sign-up-container {
    background: white;
    opacity: 0.8;
    text-align: center;
    width: 30%;
    top: 250px;
    position: relative;
    padding: 20px;
    letter-spacing: 0px
}

#signature {
	color: white;
	position: relative;
	top: -20px;
}

#new_member {
	text-align: center;
	width: 68%;
}

.sign-up-button1 {
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-family: Avenir Next;
    color: white;
    background: #00BCD4;
    border-width: 1px;
}

.footer {
	background: black;
	text-align: center;
	width: 100%;
	height: 20px;
	position: absolute;
	padding-top: 20px;
	border-radius: 0px;
	padding-bottom: 20px;
}

.logo-images {
	width: 100px;
	height: 50px;
}

.logo-collection {
	margin-top: 70px;
}

h2 {
	font-family: "Avenir Next";
	color: white;
	top: 60px;
	font-weight: 100;
	text-align: center;
	width: 100%;
	font-size: 33px;
	position: relative;
}

.join-button {
  text-align: center;
  border-radius: 24px;
  font-size: 22px;
  font-family: Avenir Next;
  color: white;
  background: #00BCD4;
  border-width: 1px;
  margin-top: 10px;
  border-color: white;
  position: relative;
  bottom: 53px;
  left: 385px;
  width: 225px;
  border-style: solid;
  border-color: white;
}

.email-input {
	font-family: Avenir Next;
	margin: 5px 0;
	background: #00BCD4;
	position: relative;
	left: 100px;
	width: 250px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.welcome {
	margin-top: 5px;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}